# 0705(일) 수업

조건문 - if

In [1]:
a = 1

In [2]:
if a > 0 :
    print("a ==", a)
    print("positive number")
elif a == 0 :
    print("a ==", a)
    print("zero")
else :
    print("a ==", a)
    print("negative number")

a == 1
positive number

In [3]:
list_data = [10, 20, 30, 40, 50]
dict_data = {"key1":1, "key2":2}

In [4]:
if 45 in list_data:
    print("45 is in list_data")
else:
    print("45 is not in list_data")
    
if "key1" in dict_data:
    print("key1 is in dict_data")
else:
    print("key1 is not in dict_data")

45 is not in list_data
key1 is in dict_data

반복문 - for

In [5]:
for data in range(10): # range()함수는 시작값 - 미지막값-1
    print(data, " ", end='')

0  1  2  3  4  5  6  7  8  9

In [7]:
for data in range(0, 10):
    print(data, "", end='')

0 1 2 3 4 5 6 7 8 9

In [8]:
list_data = [10, 20, 30, 40, 50]

In [9]:
for data in list_data:
    print(data, " ", end='')

10  20  30  40  50

In [10]:
dict_data = {'key1':1, 'key2':2}

for data in dict_data:
    print(data, " ", end='')

key1  key2

In [11]:
for key, value in dict_data.items():
    print(key, " ", value)

key1   1
key2   2

In [30]:
def sum(x, y):
    s = x + y
    return s

result = sum(10, 20)
print(result)

30

In [31]:
def multi_ret_func(x):
    return x+1, x+2, x+3

x = 100
y1, y2, y3 = multi_ret_func(x)
print(y1, y2, y3)

101 102 103

In [32]:
def print_name(name, count=2): # default parameter
    for i in range(count):
        print("name ==", name)
        
print_name("DAVE", 5)

name == DAVE
name == DAVE
name == DAVE
name == DAVE
name == DAVE

In [33]:
print_name("JANE")

name == JANE
name == JANE

[예제 1]

In [21]:
for x in range(6):
    print('*',"",end='')

* * * * * *

[예제 2]

In [24]:
for i in range(5):
    for j in range(5-i):
        print('*',end='')
    print(" ")

*****
****
***
**
*

[예제 3]

In [25]:
apart = [[101, 102, 103, 104],[201, 202, 203, 204],[301, 302, 303, 304], [401, 402, 403, 404]]
arrears = [101, 203, 301, 404]

In [29]:
for i in apart:
    for j in i:
        if j in arrears:
            continue
        else:
            print("delevery list :", j)

delevery list : 102
delevery list : 103
delevery list : 104
delevery list : 201
delevery list : 202
delevery list : 204
delevery list : 302
delevery list : 303
delevery list : 304
delevery list : 401
delevery list : 402
delevery list : 403

[예제 4]

In [36]:
test = [["na",11],["hh", 37], ["ggg",88]]
print(len(test))

3

In [37]:
def multi_two(x):
    return x*2
result = map(multi_two, [1,2,3,4])
print(list(result))

[2, 4, 6, 8]

In [38]:
a=[]
for i in range(1,7,2):
    a.append(i)
print(a[0],a[1],a[2])

1 3 5

In [42]:
num = {'ll':22-11, 'yy':32-45}
num.items()

dict_items([('ll', 11), ('yy', -13)])

In [43]:
list = [1,6,3]
def func(x):
    x[0]=2
    x[1]=x[1]%2
    x[2]=x[2]**3
func(list)
print(list)

[2, 0, 27]

In [44]:
test = [[4,5,6],[7,8,9],[10,11,12]]
test = test[:-1][1:2]
print(test)

[[7, 8, 9]]

In [45]:
ss = [number*7 for number in range(1,10)]
print(ss)

[7, 14, 21, 28, 35, 42, 49, 56, 63]

In [49]:
for index,num in enumerate(ss):
    print('7 X',index+1,' = ', num)

7 X 1  =  7
7 X 2  =  14
7 X 3  =  21
7 X 4  =  28
7 X 5  =  35
7 X 6  =  42
7 X 7  =  49
7 X 8  =  56
7 X 9  =  63